.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-content {
  display: flex;
  align-items: center;
  justify-content: center;
  --overlay-width: 0;
  --overlay-height: 0;
  width: var(--overlay-width);
  height: var(--overlay-height);
  overflow: hidden;

  &::after {
    content: "";
    box-shadow: inset 0px 0px 20px 2px rgba(0, 0, 0, 1);
    position: absolute;
    width: var(--overlay-width);
    height: var(--overlay-height);
  }

  & > img {
    --x-offset: 0;
    --y-offset: 0;
    transform: translate(var(--x-offset), var(--y-offset));
  }
}